---
layout: blog
description: "Sublime Code - Blog"
---

- blog.articles.each do |article|
	div.post-preview
		a href="#{article.url}"
			h2.post-title =article.title
			h3.post-subtitle =article.tags.join(', ')
		p.post-meta 
			| Posted by 
			a href="#" Pranav Ram 
			| on #{ActiveSupport::TimeZone.new('UTC').parse(article.date.to_s).strftime("%B %d, %Y")}