<div id="headerwrap">
    <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>PRANAV RAM</h1>
        <h4>VISUAL ANALYTICS</h4>
      </div>
    </div>
    </div> <!-- /container -->
</div>

<section id="works"></section>
<div class="container">
  <div class="row centered mt mb">
        <h1>Portfolio</h1>
  </div>
  <div class="row centered mt mb">    
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a href="http://flix-analysis-oompa.herokuapp.com" target="_blank">
      <img src="img/portfolio/flix-analysis.png" class="img-responsive"></a>
      <p>Flix Analysis</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a href="img/portfolio/vizit-1.png" data-toggle="lightbox" data-title="Vizit: Main Canvas"><img src="img/portfolio/vizit-1.png" class="img-responsive" ></a>
      <p>Vizit: <br> A Visual Text Analytics Tool</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a href="/pm-viz">
      <img src="img/portfolio/pm-viz.png" class="img-responsive"></a>
      <!-- <a href="img/portfolio/pm-viz.png" data-toggle="lightbox" data-title="PM Viz"><img src="img/portfolio/pm-viz.png" class="img-responsive"></a> -->
      <p>PMViz: <br> Exploration of Indian Prime Minister Cabinets</p>
    </div>
  </div>
  <div class="row centered mt mb">
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a href="img/portfolio/travel-viz.png" data-toggle="lightbox" data-title="Travel Viz"><img src="img/portfolio/travel-viz.png" class="img-responsive"></a>
      <p>TravelViz: <br> OpinionBlocks Visualization of airline and airport reviews</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a href="img/portfolio/shopping-viz.png" data-toggle="lightbox" data-title="Shopping Viz"><img src="img/portfolio/shopping-viz.png" class="img-responsive"></a>
      <p>ShoppingViz: <br> Shopping Visualization For Recommendations</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a href="/put-foot-rally">
      <img src="img/portfolio/pfr.png" class="img-responsive"></a>
      <p>Put Foot Planner: <br> Automated Route Planner and Visualization for the Put Foot Rally 2016</p>
    </div>
  </div>
</div>